*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

#container{
    display:flex;
    height:100vh;
}

/* bouton toggle */
#toggleSidebar{
    position:absolute;
    top:10px;
    left:10px;
    z-index:1000;
    background:#111827;
    color:white;
    border:none;
    padding:10px 12px;
    border-radius:8px;
    cursor:pointer;
}

/* MAP */
#map{
    flex:1;
}

/* SIDEBAR */
#sidebar{
    width:340px;
    background:#0f172a;
    color:white;
    padding:12px;
    overflow:auto;
    transition: transform 0.3s ease;
}

/* état caché */
#sidebar.hidden{
    transform: translateX(-100%);
}

/* SEARCH */
#searchInput,
#gallerySearch{
    width:100%;
    padding:8px;
    margin-bottom:10px;
    border-radius:6px;
    border:none;
}

/* LIST */
.item{
    background:#111827;
    padding:8px;
    margin-bottom:6px;
    border-radius:8px;
    cursor:pointer;
}

.item:hover{
    background:#1f2937;
}

/* MARKER */
.custom-marker{
    width:18px;
    height:18px;
    background:#4facfe;
    border-radius:50%;
    border:3px solid white;
    box-shadow:0 0 15px rgba(79,172,254,0.7);
}

/* POPUP BIG */
.big-popup img{
    width:100%;
    border-radius:12px;
    margin-bottom:10px;
}

.big-popup h2{
    color:#4facfe;
}

.big-popup .desc{
    font-weight:bold;
    color:#e5e7eb;
    margin-top:8px;
}

/* GALLERY */
#gallery{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:6px;
}

#gallery img{
    width:100%;
    height:90px;
    object-fit:cover;
    border-radius:8px;
    cursor:pointer;
    opacity:0.9;
    transition:0.2s;
}

#gallery img:hover{
    transform:scale(1.05);
    opacity:1;
}

.gallery-active{
    outline:2px solid #4facfe;
    opacity:1;
}
